* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --black: rgb(0, 0, 0);
  --grey2: rgb(172, 172, 172);
  --grey: rgb(205, 205, 205);
  --white: rgb(223, 223, 223);
  --red: red;
}

body {
  background-color: var(--white);
  color: var(--black);
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 0;
  pointer-events: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  background-image: url(../img/logo.me4.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  z-index: -1;
}

/*HEADER------------------------------------------------*/

header {
  background: rgba(255, 255, 255, 0.534);
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(149, 117, 117, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  transition: all 0.4s ease;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  transition: 0.4s;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Archivo";
  font-stretch: semi-expanded;
  font-weight: 600;
}

a:hover {
  font-weight: 700;
}
/*HEADER------------------------------------------------*/

/*CARD--------------------------------------------------*/
.card {
  width: 55.887rem;
  height: 34.9415625rem;
  margin: 7rem auto 0;
  perspective: 1000px;
  cursor: pointer;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  border-radius: 40px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.35);
}

.card-front {
  background-image: url(../img/Fichier\ 23.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-back {
  background-image: url(../img/Fichier\ 27.png);
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}
/*CARD--------------------------------------------------*/

#card {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 6rem;
  width: fit-content;
  border: solid 2px var(--black);
  padding: 0.5rem;
  text-decoration: none;
  color: var(--black);
  font-size: 1rem;
  transition: 0.3s;
  background-color: transparent;
  text-transform: uppercase;
  font-stretch: semi-expanded;
  font-weight: 600;
}

#card:hover {
  background-color: var(--red);
  color: var(--white);
  border-color: var(--red);
  font-weight: 700;
}
